<h1>My Jupyter Notebook on IBM Watson Studio</h1>

**Kyle Riedmann**

Biomedical Scientist

*I am interested in data science to learn computational skills for large dataset analysis.*

<h3>The cell below will multiply 6*2 numbers together and display the answer</h3>

In [2]:
answer = 6*2
print(answer)

12

~~This line to be deleted~~

*Example of bulleted list

>quoting is easy with blockquotes